.mainbody {
  min-width: 700px;
}
.mainemoji {
  font-size: 60px;
}
.card-title {
  font-size: 56px;
}

.emojiday {
  font-size: 30px;
}
.atmosphere {
  font-size: 20px;
}
.dayOfWeek {
  font-size: 20px;
  margin: 12px 0 0 0;
}
.degree {
  font-size: 20px;
}

.maindegree {
  font-size: 60px;
  padding: 0 0 3px 0;
}

.first {
  padding: 0 12px 0 0;
  min-width: 320px;
}

.second {
  padding: 0 0 0 12px;
  min-width: 320px;
}

.search {
  margin: 15px 30px 0 0;
  padding: 0 0 0 0;
}

.grade {
  font-size: 15px;
  text-decoration: none;
  color: rgb(54, 107, 254);
  position: relative;
  bottom: 35px;
  font-weight: 500;
}
.grades {
  font-size: 14px;
  text-decoration: none;
  color: black;
  position: relative;
  bottom: 35px;
  font-weight: 500;
}

.grade:hover {
  text-decoration: none;
}

.active {
  cursor: default;
  color: rgb(0, 0, 0);
}
.active:hover {
  cursor: default;
  text-decoration: none;
  color: black;
}

#current-city {
  margin: 0 3px;
  background-color: #155d40b0;
  color: #fff;
}

#search-city {
  background-color: #155d40b0;
  color: #fff;
}

.myLink {
  text-decoration: none;
}
.myLink:hover {
  color: rgb(93, 160, 255);
}
.link {
  margin: 12px 0 0 0;
  font-size: 18px;
}

#main-description {
  margin: 9px 0 0 0;
}
.temp-min {
  opacity: 50%;
}
