body {
  background: #fff7f3b0;
}
.mainbody {
  min-width: 800px;
  padding: 10px;
}

.forecast {
  padding: 25px;
}

.card-title {
  font-size: 56px;
}

.atmosphere {
  font-size: 18px;
}
.dayOfWeek {
  font-size: 20px;
  margin: 12px 0 0 0;
}
.degree {
  font-size: 20px;
}

.maindegree {
  font-size: 60px;
  padding: 0 0 3px 0;
}

.first {
  padding: 0 12px 0 0;
}

.second {
  padding: 0 0 0 12px;
}

.search {
  margin: 15px 30px 0 0;
  padding: 0 0 0 0;
}

.grade {
  font-size: 15px;
  text-decoration: none;
  color: #fb7c48;
  position: relative;
  bottom: 35px;
  font-weight: 500;
}
.grades {
  font-size: 14px;
  text-decoration: none;
  color: black;
  position: relative;
  bottom: 35px;
  font-weight: 500;
}

.grade:hover {
  text-decoration: none;
}

.active {
  cursor: default;
  color: rgb(0, 0, 0);
}
.active:hover {
  cursor: default;
  text-decoration: none;
  color: black;
}

#current-city {
  margin: 0 3px;
  background-color: #fb7c48;
  color: #fff;
}

#search-city {
  background-color: #fb7c48;
  color: #fff;
}

.myLink {
  text-decoration: none;
  color: #fb7c48;
}
.myLink:hover {
  color: #7c5648;
}
.link {
  margin: 12px 0 0 0;
  font-size: 18px;
}

#main-description {
  margin: 2.5px 0 0 0;
  font-size: 18px;
}
.temp-min {
  color: rgb(157, 157, 157);
}

.city-main-name {
  padding: 0;
}

.bigcity {
  border-color: #fff;
  padding: 0;
}

.time {
  text-align: left;
  padding: 0;
  margin: 5px 0 0 0;
  font-size: 19px;
}

#city {
  text-align: left;
  padding: 0;
  font-size: 80px;
  margin: 0;
}

.main-icons {
  padding: 0;
}

.user-city {
  padding: 0;
}
